.contact {
  width: 100%;
  min-height: 80vh;
  padding: 30px 7%;
  background: #010504;
  color: #fff;
}

.contact .title {
  max-width: 700px;
  text-align: start;
  font-size: 15px;
  letter-spacing: 1px;
}

.contact .title h1 {
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
}

.contact .title h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #ffffff;
  animation: lineAnimation 2s ease-in-out infinite; /* Adjust the animation duration and timing function as needed */
}

@keyframes lineAnimation {
  0% {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}
.contact .title h1::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #16db65;
  top: calc(125% - 1px);
  left: 50%;
  transform: translateX(-50%);
}

.contact-form {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  background: #051f08;
  margin: 50px 8%;
  border-radius: 15px;
}

.contact-form > * {
  width: 50%;
}

.contact-form .first-container {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*tjHTmF_1SUY6_pykU6_VpQ.gif") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
}

.contact-form .first-container .info-container div {
  margin: 24px 0;
}

.contact-form .first-container .info-container div h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 10px;
}

.contact-form .first-container .info-container div:first-of-type p {
  max-width: 260px;
  color: #16db65;
}

.contact-form .first-container .info-container div p {
  font-size: 16px;
  line-height: 1.6;
  color: #16db65;
  text-shadow: 0 0 10px #16db65;
}

.contact-form .second-container {
  padding: 30px;
}

.contact-form .second-container h2 {
  font-size: 30px;
  font-weight: 400;
  color: #16db65;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .second-container form {
  display: flex;
  flex-direction: column;
}

.contact-form .second-container form .form-group {
  margin-bottom: 10px;
}

.contact-form .second-container form .form-group * {
  min-height: 55px;
  border: 1px solid #0b662f;
  padding: 0 20px;
  background-color: #02220f;
  color: white;
}

.contact-form .second-container form .form-group *:focus {
  background-color: #0b662f; /* Change background color when textarea is in focus */
  color: #ffffff; /* Change text color when textarea is in focus */
}

.contact-form .second-container form .form-group label {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #0b662f;
  font-size: 16px;
  color: #16db65;
  text-transform: uppercase;
  margin-top: -1px;
  text-shadow: 0 0 10px #16db65;
}

.contact-form .second-container form .form-group:first-of-type input {
  width: 50.1%;
  margin-right: -5px;
}

.contact-form .second-container form .form-group input {
  width: 100%;
  font-size: 15px;
  margin-top: -2px;
}

.contact-form .second-container form .form-group input::-moz-placeholder, .contact-form .second-container form .form-group textarea::-moz-placeholder {
  color: #0b662f;
}

.contact-form .second-container form .form-group input::placeholder,
.contact-form .second-container form .form-group textarea::placeholder {
  color: #0b662f;
}

.contact-form .second-container form .form-group textarea {
  width: 100%;
  min-height: 80px;
  resize: none;
  padding: 10px 20px;
  margin-top: -1px;
  color: white;
}

.contact-form .second-container form .form-group textarea:focus {
  background-color: #0b662f; /* Change background color when textarea is in focus */
  color: #ffffff; /* Change text color when textarea is in focus */
  border-color: #16db65;
}

.contact-form .second-container form button {
  width: 150px;
  height: 50px;
  background: #16db65;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  position: relative;
  left: calc(50% - 100px);
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 0 7px #16db65;
  transition: 0.2s linear;
  transform: translateX(20%);
}

.contact-form .second-container form button:hover {
  scale: 1.05;
  color: #fff;
  box-shadow: none;
}

@media screen and (max-width: 800px) {
  .contact-form {
    width: 80vw;
    margin: 50px 4%;
  }
}
@media screen and (max-width: 700px) {
  .contact-form {
    flex-direction: column-reverse;
  }
  .contact-form > * {
    width: 100%;
  }
  .contact-form .first-container {
    padding: 40px 0;
  }
}
@media (max-width: 730px) {
  .contact .title {
    scale: 0.8;
    transform: translateX(-10%);
  }
  .contact-form .second-container form button {
    scale: 0.8;
  }
}
@media (max-width: 418px) {
  .contact .title {
    scale: 0.6;
    transform: translateX(-25%);
  }
  .contact-form {
    scale: 0.7;
    transform: translate(-15%, -25%);
    width: 120%;
    margin-bottom: -75%;
  }
}/*# sourceMappingURL=contact.css.map */